.App {
  text-align: center;
}

.create-task-form{
  padding: 20px;
}
.btn-back{
  padding: 20px;
}
.finished{
  color: rgb(141, 141, 141);
}

table.table input[type="checkbox"] {
  padding: 20px;
  width: 25px;
  height: 26px;
}